<h1>Books</h1>


<% @books.each do |book| %>

 <table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th colspan="3"></th>

 </tr>
<a href="/books">start</a>
<a href="/books">start</a>
<a href="/books">start</a>
 <tr>
  <span>
    <%= link_to book.title, book_path(book.id) %>
  </span>
  </tr>
  
  <% end %>
  
</table>

  <h1>New book</h1>

  <% if @book.errors.any? %>

  <%= @book.errors.count %> error has occurred
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @book, url: '/books', method: :post do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>

<% end %>